.auth{
    & .account-type {
        margin-top: 20px;
        & .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .7rem;
            border: 1px solid #979898;
            border-radius: 7px;
            cursor: pointer;
            & h1 {
                color: white;
                margin: unset;
            }
        }
        & .card:hover {
            box-shadow: 0px 3px 0px rgb(255 255 255 / 50%);
        }
        & .active {
            position: relative;
            overflow: hidden;
        }
        & .active::after {
            position: absolute;
            content: " ";
            width: 25px;
            height: 25px;
            background-image: url('/src/assets/icons/check.png');
            background-size: 25px;
            background-repeat: no-repeat;
            top: 0;
            right: 0;
            margin: 6px
        }
    }
}